In [2]:
import pandas as pd

def read_csv_to_dataframe(file_path):
    df = pd.read_csv(file_path)
    return df

# Usage example
file_path = 'E:\\github\\nexis_uni_extractor\\test\\data\\1.csv'
data_frame = read_csv_to_dataframe(file_path)
display(data_frame[50:60])

,title,publisher,publish_date,edition,section,length,byline,body,graphi
50,"India's WPI inflation at (-) 0.92% in April, l...",Millennium Post Newspaper,2023/05/17,NaN,NaN,491,NaN,New Delhi: Wholesale prices in India fell for ...,0
51,Bank of England admits it made errors in infla...,The Independent (United Kingdom),2023/05/23,NaN,"UK POLITICS,UK; Version:4",832,Adam Forrest and Archie Mitchell,The Bank of England has “very big” lessons to ...,0
52,Inflation: exploring its real nature,CE Noticias Financieras English,2023/05/09,NaN,NaN,877,NaN,Economist Pad - School of Management Universid...,0
53,Russia's inflation down to 2.3% in April,Intellinews - Russia Today,2023/05/16,NaN,NaN,342,NaN,Annual consumer price inflation in April 2023 ...,0
54,'Public pay deal should match inflation',Irish Examiner,2023/05/13,NaN,NEWS; Pg. 4,425,Imasha Costa,Public sector workers want their next pay incr...,1
55,Polish core inflation dips 0.1pp to 12.2% y/y ...,Intellinews - Poland Today,2023/05/16,NaN,NaN,211,NaN,"Poland's core inflation, which measures price ...",0
56,"Inflation, interest rate and imperialism",Daily Financial Times,2023/05/10,NaN,NaN,1405,NaN,"Sri Lanka, like many countries in the neo-libe...",0
57,Managing family finances during inflation,The Punch,2023/05/14,NaN,NaN,1829,NaN,Forty-four-year-old Margaret Olodi is a mother...,0
58,Labor-intensive services support inflation,Valor International,2023/05/17,NaN,NaN,1015,Anaïs Fernandes,"At the highest level in six years, the inflati...",0
59,"Inflation reached an annual rate of 6%, the be...",CE Noticias Financieras English,2023/05/24,NaN,NaN,286,NaN,"MEXICO CITY, (apro).- Inflation reached an ann...",0